// General Styles
* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

// Colors 
// #986D8E,#E2C2B9,#87A8A4,#BFD8B8,#E7EAB5,#F1F7E7

 // fonts
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.button {
  background-color: #986D8E; 
  color: #E7EAB5; 
  width: 100px; 
  border-radius: 5px; 
  height: 25px; 
  border: 1px solid #986D8E; 
  &:hover {
    background-color: #E7EAB5; 
    color: #986D8E; 
    border: 1px solid #E7EAB5;
  }
}

// ***** Header & Footer Styles *****
header, footer {
  padding: 3vh 5vw; 
  p {
    margin: 3vh 0 5vh 0; 
    line-height: 25px;
  }
}

// Navigation
nav {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10vh;
  a {
    &:hover {
      color: #986D8E; 
    }
  }
}

// Search
input {
  height: 25px; 
  border: 1px solid #986D8E; 
  margin-right: 10px; 
  border-radius: 5px; 
  padding-left: 5px; 
}

// ***** Main & IngredientPage Styles *****
.mainPageAlcohol, .ingredientPages {
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
}

.style1 {
  background-color: #986D8E;
}
.style2 {
  background-color: #E2C2B9;
  grid-row: 0/1;
}
.style3 {
  background-color: #87A8A4;
}
.style4 {
  background-color: #BFD8B8;
}
.style5 {
  background-color: #E7EAB5;
}
.style6 {
  background-color: #F1F7E7;
}

// ***** Recipe page Styles *****
.recipe {
  padding: 3vh 5vw; 
  .recipeHeadline {
    display: flex; 
    h2 {
      margin-right: 5vw; 
    }
    img {
      width: 40%; 
      border-radius: 5px;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }
    h3, h4 {
      margin: 1vh 0; 
    }
    p {
      margin: 1vh 0; 
    }
  }
}




